html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    border: 0;
    font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    margin: 1em;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    font-family: Calibri, Arial, sans-serif;
}

img{
    max-width:100%;
}

ul{
    display:flex;
}

li{
    margin-right: 20px;
}

header{
    background-color: #fff;
    position: fixed;
    top:0;
    z-index: 10;
    width:100%;
}

header a{
    text-decoration: none;
    font-family: Calibri, Arial, sans-serif;
    text-transform: uppercase;
    color: #000;
}

header a.active, header a:hover{
    color:#ffcc33;
}

nav{
    display:flex;
    padding-top:15px;
}

#menu li::after{
    content: '+';
    color: #fc3;
    font-weight: bold;
    margin-left: 20px;
}

#menu ul >li:last-child::after{
    content:'';
    margin-left:0;
}

.bloko-columns-wrapper{
    margin: 0 8em;
    padding: 0 20px;
    box-sizing: border-box;
}

section {
    margin-top: 10%;
}

.small{}

.large img{
    height: 80px;
}

.small img{
    height: 50px;
}
/* Transitions */
header,
nav,
a,
img,
li,
.fa{
    transition: .2s all;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
}

.contact-link{
    color: #169FE1
}

.clean{
    text-decoration: none;
    font-family: Calibri, Arial, sans-serif;
    color:#000000;
}

.fa{
    color:#ffcc33;
}

.fa.active .fa:hover{
    color:#000;
}

#left{
    display:inline-block;
    width:70%;
    margin-left:100px;
    margin-top: 100px;
    vertical-align:middle;
    color:black;
}

#middle{
    display:inline-block;
    width:70%;
    margin: 0 8em;
    vertical-align:middle;
    color:black;
}

#middle h2{
    font-size:2.5em;
    text-shadow:1px 1px 2px grey;
    width: 80%;
}

h3 {
    margin: 1em 0;
}

footer{
    border-top:2px solid #fc3;
    padding:10px;
    display:flex;
}

.space-between{
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
