
.content>ul {
    list-style: initial;
    display: block;
}

dl {
    margin: 15px;
}

.positionFromTo {
    display: flex;
    margin-top: 10px;
}

.position {
    font-weight: bold;
    margin: 0 1rem 0;
}


section {
    margin-top: 5%;
}

.section {
    font-weight: bold;
    padding-top: 20px;
}

.section-wrapper {
    margin: 5px 1rem 5px;
}

.tabs { width: 100%; padding: 0; margin: 0 auto; }
.tabs>input { display: none; }
.tabs>div {
    display: none;
    padding: 20px;
    border: 1px solid #C0C0C0;
    background: #FFFFFF;
}
#tab_1l {
    border-top-left-radius: 10px;
}

#tab_2l {
    border-top-right-radius: 10px;
}
.tabs>label {
    display: inline-block;
    padding: 7px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #666666;
    border: 1px solid #C0C0C0;
    background: #E0E0E0;
    cursor: pointer;
}
.tabs>input:checked + label {
    color: #000000;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
}
#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2,
#tab_3:checked ~ #txt_3,
#tab_4:checked ~ #txt_4 { display: block; }

.content {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.content>dl {
    margin-bottom: 15px;
}